.header, .header__secundario{
    background-image: url(../img/cafe/banner.webp);
}
.header, .header__secundario{
    background-image: url(../img/cafe/banner.jpg);
}
.header{
    height: 80rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header__secundario{
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 15rem;
}
.barra{
    padding: 4rem;
}
@media(min-width: 768px){
      .header_texto{
        margin-top: 15rem;
      }
}
@media(min-width: 768px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }     
}
.logo{
    color: var(--blanco);
}
.logo__nombre{
    font-weight: 400;
    margin: 0;
}
.logo__bold{
    font-weight: 700;
}
@media(min-width: 768px){
    .navegacion{
      display: flex;
      gap: 2rem;
    }
}
.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
    font-weight: 700;

}